/* VARIABLES */
$FantoasticBackgroundColorDefault: white;
$FantoasticBackgroundColorPrimary: white;
$FantoasticBackgroundColorSuccess: white;
$FantoasticBackgroundColorDanger: white;

$FantoasticBorderColorDefault: white;
$FantoasticBorderColorPrimary: purple;
$FantoasticBorderColorSuccess: green;
$FantoasticBorderColorDanger: red;

$FantoasticContainerMaxWidth: 640px;

/* TOAST CONTAINERS */
.Fantoastic-container {
    position: fixed;
    z-index: 9999;
    max-width: $FantoasticContainerMaxWidth;
}
  
.Fantoastic-container--topRight {
  top: 8px;
  right: 8px;
}

.Fantoastic-container--topLeft {
  top: 8px;
  left: 8px;
}

.Fantoastic-container--bottomRight {
  bottom: 8px;
  right: 8px;
}

.Fantoastic-container--bottomLeft {
  bottom: 8px;
  left: 8px;
}

.Fantoastic-container--top {
  top: 8px;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.Fantoastic-container--bottom {
  bottom: 8px;
  left: 50%;
  width: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* THE ACTUAL TOAST */
.Fantoastic {
  position: relative;
  overflow: hidden;
  margin-top: 8px;
  padding: 16px 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

/* VARIANTS */
.Fantoastic-variant--default {
  background-color: $FantoasticBackgroundColorDefault;
  border-left: 8px solid $FantoasticBorderColorDefault;
}
.Fantoastic-variant--primary {
  background-color: $FantoasticBackgroundColorPrimary;
  border-left: 8px solid $FantoasticBorderColorPrimary;
}
.Fantoastic-variant--success {
  background-color: $FantoasticBackgroundColorSuccess;
  border-left: 8px solid $FantoasticBorderColorSuccess;
}
.Fantoastic-variant--danger {
  background-color: $FantoasticBackgroundColorDanger;
  border-left: 8px solid $FantoasticBorderColorDanger;
}

/* Animations */
.Fantoastic--visible {
  animation: fadeIn 500ms forwards;
}

.Fantoastic--hidden {
  animation: fadeOut 500ms forwards;
}

/* BODY */
.Fantoastic-body {
  display: flex;
  align-items: center;
}

.Fantoastic__content-wrapper {
  padding-right: 24px;
}

.Fantoastic__closeIcon-wrapper {
  position: absolute;
  top: 4px;
  right: 2px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
    color: rgba(255, 255, 255, 0);
    // height: 0px;
    // padding-top: 0px;
    // padding-bottom: 0px;
    // margin-top: 0px;
  }

  // 90% {
  //   opacity: 0.1;
  //   // height: 0px;
  //   // padding-top: 0px;
  //   // padding-bottom: 0px;
  //   // margin-top: 0px;
  // }

  100% {
    opacity: 0;
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}



/* MISCELLEANOUS */

// Close Icon
.Fantoastic__closeIcon{
  position: relative;
  margin-left: 16px;
  padding: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 100ms ease-in;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 7px;
    height: 2px;
    width: 45%;
    margin-top: -1px;
    background: rgb(80, 80, 80);
    transition: all 150ms ease-out;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.Fantoastic__closeIcon--rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
}

